.App {
}

/** Sleep Now **/

.sleep-now {
  margin: 10px 0;
  padding: 10px 0;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px auto;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2px auto;
}

.sleep-now-button {
  cursor: pointer;
  width: 100px;
  margin: 0 5px;
  padding: 5px;
  border-radius: 2px;
  background-color: #FFB74D;
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.08);
}

.sleep-now-button:hover {
  background-color: #FF9800;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.08);
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sleep-now-button:active {
  background-color: #F57C00;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.12), 0 0 0 0 rgba(0, 0, 0, 0.08);
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

/** Get up at **/
.getup-at {
  margin: 10px 0;
  padding: 10px 0;
}

/** Following are overrider for third party timepicker **/
.time_picker_container {
  margin: 0 5px;
}

.time_picker_preview {
  background-color: #FFB74D;
  width: 100px;
  height: auto;
  padding: 5px;
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.08);
}

.time_picker_preview:hover {
  background-color: #FF9800;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.08);
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.time_picker_preview:active {
  background-color: #F57C00;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.12), 0 0 0 0 rgba(0, 0, 0, 0.08);
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.preview_container {
  padding: 0px;
  height: auto;
  line-height: inherit;
  position: static;
  transform: none;
}

.preview_container > svg {
  display: none;
}

.outside_container {
  position: relative;
  width: 100%;
  left: -125%;
  top: 10px;
}

/** End of third party time picker **/

/** Time options **/
.times {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 4px;
  grid-template-columns: repeat(3, minmax(60px, auto));
  grid-template-rows: repeat(2, minmax(20px, auto));
  grid-auto-flow: row;
}

.time {
  text-align: center;
  font-size: 1.15em;
  font-weight: 100;
  padding: 5px;
}

.rem1 {
  grid-row: 1;
  grid-column: 1;
  border: 0.5px #E64A19 dotted;
  color: #E64A19;
}

.rem2 {
  border: 0.5px #F57C00 dotted;
  color: #F57C00;
}

.rem3 {
  border: 0.5px #FBC02D dotted;
  color: #FBC02D;
}

.rem4 {
  border: 0.5px #388E3C dotted;
  color: #388E3C;
}

.rem5 {
  border: 0.5px #1976D2 dotted;
  color: #1976D2;
}

.rem6 {
  grid-row: 2;
  grid-column: 3;
  border: 0.5px #512DA8 dotted;
  color: #512DA8;
}
