.container {
  height: 100%;
  display: grid;
  grid-template-columns: [start] 10% 80% 10% [end];
  grid-template-rows: 50px auto 20px;
}

.header {
  background-color: #2196F3;
  grid-column: start / end;
  text-align: center;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bolder;
  font-size: 1.5em;
  color: white;
}

.application {
  grid-column: start/ end;
  grid-row: 2;
}

.footer {
  background-color: #2196F3;
  grid-column: start / end;
  grid-row: 3;
}
