.App {
  text-align: center;
}

.button {
  border: red 1px solid;
}

.rem1 {
  color: #E64A19;
}

.rem2 {
  color: #F57C00;
}

.rem3 {
  color: #FBC02D;
}

.rem4 {
  color: #388E3C;
}

.rem5 {
  color: #1976D2;
}

.rem6 {
  color: #512DA8;
}
